page-email-verification-popup {

    .getPoints{
        margin-top:1.5vh;
        margin-bottom:1.5vh;
    }

    .close-button{
        font-size:25px;
        // margin-right:10px 10px 0px 10px;
        font-weight: bold
    }

    .modalstyle .popover-content-style {
        border-radius: 10px;
        margin:auto
    }
    
}
