page-thank-you {
    .thank-you-icon{
        display: block;
        margin: auto;
        margin-top:15vw;
    }
    .button-cta{
        @extend  #{'.cta-button-primary'};
        white-space: normal;
        height: auto;
        position: relative;
        padding: 10px 40px;
        overflow-x:hidden;
        word-wrap:break-word;
        margin-top:25px;
      }
      .margin-tp-div{
        margin-top:20vh;
      }
}
