policy-loan-payment {
    .card-body {
        position:relative;
        margin:-10% auto !important;
        background-color:$gray;
        padding: 10% 5% !important;
    }
    .border-radius{
        border-radius:5% !important;
    }
    .static-text{
        font-weight:bold;
    }
    .secondary-light
    {
        background-color:$gray;
    }
    .input-round{
        background-color: #FFFFFF;
        z-index: 2;
        margin: 0 10%;
        border-radius: 40px;
        border: 1px solid whitesmoke;
        position: relative;
    }
    .mr-blur{
    opacity : 0.3;//to show a little bit of the iactive screen
    z-index : 9999!important; //To put it on top of all elements
    }
    .overdue{
        width: 33%;
        padding: 1% 1% 3%;
        margin-left: 60% !important;
        margin-bottom: -4%;
        border: 1px solid $accent-danger !important;
        border-radius : 10px;
    }
    .round-input{
        border-radius:50px;
        border:1px solid $secondary-highlight;
        background-color: #FFFFFF;
    }
    ion-input{
        padding: 0 10%;
    }
}
