    .card-body {
        position:relative;
        margin:-10% auto !important;
        background-color:#f3f3f3 !important;
    }

    .border-radius{
        border-radius:5% !important;
    }

    .amount-container{
        z-index:100;
    }
    .card-color{
        background-color: $primary;
    }
    .card-text-color{
        color:white;
    }
    .row-border-bottom{
        border-bottom:1px solid lightgray;
    }
    .col-border-left{
        border-left:1px solid lightgray;
    }
    .padding-top{
        padding-top:10px;
    }
    .loan-info{
        padding-top:15px;
    }
    .padding-top-10{
        padding-top:10px;
    }
    .padding-bottom-10{
        padding-bottom:10px;
    }
