<ion-card class="marginTopest" *ngFor="let product of recommendedProducts" (click)="navigateToIonicPage(product.id)">
    <ion-card-content padding class="product-card" [style.background-image]="'url(' + product.image + ')'">
        <ion-row>
            <ion-col>
                <div class="h2" ion-text color="primary">{{product.name}}</div>
                <div class="description text-bold">{{product.description}}
                </div>
                <a align="center" class="hyperlink-primary anchor text text-ios" ion-text="" >ดูรายละเอียด</a>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>
