page-set-fingerprint {
    .padding-top-30{
        padding-top:18%;
    }
    .fingerprint{
        padding-top: 35px;
        padding-bottom:35px;
        font-size:$font_72px;
    }
    .skip-biometric{
        margin-top:20px;
    }
    .text{
       white-space: normal;
    }
}
