page-payment-change-book {
/** Card Styling */
    .cb-card{
        padding-bottom: 20px;
        padding-top:10px;
        border-radius: 0.5rem;  
        margin-top:0px;
        margin-bottom:0px;
    }
    .cb-card input{
        width: 100%;
        max-width: 100% !important;
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom: 1px solid $secondary-dark;
        padding: 2px 5px;
        font-size:$font_20px;
        // text-align:right;
    }  
    .cb-upload-pic{
        input{
         border-radius: 25px;
         width: 100%;
         border:1px solid $secondary-dark;
        }
    } 
    .cb-camera-icon{
        height: 35px;
        width: 35px;
        padding: 6px 11px;
        background-color: $primary;
        border-radius: 50%;
        display: inline-block;
        .icon{
            font-size:$font_14px;
            color: $secondary;
        }
    }
/** Styling for Checkbox */    
    .checkbox-ios .checkbox-icon{
        border-radius: 15%;
    }
/** Styling for Save Button */
     .anp-submit-btn{
        top: 20px;
        .button{
            padding: 15px 40px;
            height: 25px;
            font-size: $font_20px;
            background-color: $primary;
            border-radius: 25px;
        }
    }
/** Header Styling */    
    .changeBookHeader{
        ion-label{
        margin:10px 10px;
        font-size: $font_30px !important;
        }
    }
/** Select Option */    
    .cb-selectBox{
        padding: 5px 20px;
        ion-label{
            font-size: $font_24px!important;
            margin-top: 0 !important; 
        }
        .selectOpt{
            border: 1px solid  $secondary-light;
            border-radius: 25px;
            width: 100%;
            max-width: 100% !important;
            padding: 5px 20px;
            .select-icon{
            .select-icon-inner{
                right: 10px !important;
                left: unset;
                top:65%;
                color: $primary;
                font-size:$font_24px;
            }   
            }
        }
    }
    .star-terms-condition{
        padding-left: 15px;
        margin-bottom: 0px !important;
        margin-top:  0px !important;
    }
    .delete-anchor-link{
        a{
            float: right;            
        }
    }
    .font-bold{
        font-weight: bold;
        font-size: $font_20px !important
    }
    .input-padding input{
       padding-bottom: 10px;
       padding-left:5px;
    }
    .pd-top{
        padding-top: 6px;
    }
    .tandC{
        font-weight: bold;
        font-size: $font_16px !important
    }
}
