page-security-questions {
  .dateIcon {
    position: relative !important;
    height: 0% !important;
    margin-right: -2% !important;
    margin-bottom: -12% !important;
  }
  .QuestionIcon {
    height: 0% !important;
    margin-right: -2% !important;
    margin-bottom: -4% !important;
  }
  #securityLabel5 {
    position: absolute;
    bottom: 8%;
    margin-left: 27%;
    word-wrap: break-word;
  }

 
  .bodyContaint {
    margin-top: 4%;
  }
}
