page-non-loanable-policy-list {
    .hr-line{
        border-bottom: 1px solid $secondary-light
    }
    .margin-10{
        margin:10px;
    }
    .reason-field{
        padding-left:5px;
        height:25px;
    }
}
