page-policy-loan-confirmation {
    .hyperlink-primary{
        padding-left:1vh
    }
    .margin-20{
        margin:1.8vh
    }
    .accept-terms-item{
        margin:1vh
    }
    .padding-bottom{
        padding-bottom:20px;
    }
    .item.item-md .checkbox-md {
        margin-right:3px;
    }
    .item.item-ios .checkbox-ios {
        margin-right: 3px;
    }
}
