page-auto-deduct-payment {
    .color-accent{
        color:$accent;
    }
    .SCB_icon{
        height: 2.4rem;
        width: 2.4rem;
        
    }
    .font-small-size{
        font-size: $font_20px;
    }
    .padding-top-amount{
        padding-top: 15px;
    }
   
    .backcolor {
        position: relative;
        background-color: color($colors, "primary");
        .h1,
        .h2 {
            color: $secondary;
        }
    }
    .highlighttotal {
        background-color: rgba(236, 236, 236, 0.50);
        border-radius: 8px;
        padding: 2%;
    }
    .margin-minus {
        margin-top: -10%;
    }
    #paymentDue {
        padding: 11% 25%!important;
        box-shadow: none;
    }
    .paymentDueData {
        background-color: color($colors, secondary-light);
        border-bottom: 1px solid $secondary-highlight;
        padding: 0;
    }
    #TotalAmount {
        font-size: 40px;
        font-weight: bold;
    }
    .card-ios {
        margin: 0px;
        width: 100%;
    }
    .item-ios.item-block .item-inner {
        border-bottom: none;
    }
    .item-md.item-block .item-inner {
        border-bottom: none;
    }
    .secondary-light {
        background-color: color($colors, secondary-light)!important;
    }
    .margin-LeftMinus {
        margin-left: -6px;
    }
    .border-radius {
        border-radius: 20px;
        border: none;
        margin-top: 8px;
    }
    .button-inner {
        flex-flow: column;
    }
    // .item-md {
    //     background-color: #f6f6f6;
    // }
    .item.item-md .checkbox-md {
        margin: 0px 24px 16px 4px;
    }
    .label-md {
        margin: 2px 8px 13px 0;
    }
    // ios device 
    // .item-ios {
    //     background-color: #f6f6f6;
    // }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .label-ios {
        margin: 2px 8px 13px 0;
    }
    .item.item-ios .checkbox-ios {
        margin: 0px 24px 16px 4px;
    }
    .button-round-ios {
        padding: 0px 4.6rem;
    }
    .button-ios {
        height: 2.4em;
    }
}
