page-tool-tip {
.fullheight{
    //height: 100%;
    width: 100%;
}
.skip-texte{
    right: 0;
    position: absolute;
    margin-top: 6%;
    z-index: 999;
}
.icon-size{
    font-size: 12vw;
}
.mar-top{
    margin-top: 66vh;
}
.scrollPos{
    position: inherit;
}

.maringT-80{
margin-top:80px;
}
}
