page-forgot-pin {
    .margin-top-50{
        margin-top:50px;
    }
    .margin-top-30{
        margin-top:40%;
    }
    .padding{
        padding-left:15px;
    }
    .item-ios.item-block .item-inner{
        margin-right:10px
    }
    .item-md.item-block .item-inner{
        margin-right:10px
    }
    .error-msg{
        // padding:5px 20px;
    }
    .no-padding{
        padding:0px
    }
    @media screen and (max-width: 311px) {

    }

    @media screen and (min-width: 312px) and (max-width: 350px) {

    }

    @media screen and (min-height: 530px) and (max-height: 625px) {
        .margin-top-30{
            margin-top:35%;
        } 
        .margin-top-50{
            margin-top:40px;
        }
    }

    @media screen and (min-height: 671px) and (max-height: 730px) {
        .margin-top-30{
            margin-top:45%;
        } 
    }

    @media screen and (min-height: 731px) and (max-height: 800px) {
        .margin-top-30{
            margin-top:50%;
        } 
    }

    @media screen and (min-height: 801px) {
        .margin-top-30{
            margin-top:65%;
        } 
    }

}
