home-policy-tabs-details {
    .card-md {
        border-radius: 1rem!important;
    }
    .label-md {
        margin: 0px 0px 3px 0;
    }
    .label-ios {
        margin: 0px 0px 3px 0;
    }
    .cashbackdet {
        background-color: $secondary-light;
        padding: 6% 0% 3% 0%;
        border-radius: 3px;
    }
    .no-wrap {
        white-space: normal;
    }
    .BackImage {
        background-image: url(../assets/imgs/Assets-Image-Homepage-HP4.png);
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-size: 250px 165px;
        background-position: right bottom;
        height: 27vh; 
        /* background-position-x: 25px; */
        padding: 8px !important;
        text-align: left;
    }
    .challenges-card .challenges-div {
        position: absolute;
        top: 0px;
        left: 10px;
        padding: 5px;
    }
    .challenges-card {
        position: relative;
    }
    .margin-top {
        margin-top: 1vh;
        padding: 7%!important;
        background-color: #F3F3F3;
        border-radius: 2vw;
        margin-right: 4%;
    }
    .margin-bottom {
        margin-bottom: 20%;
    }
    .marginTopest {
        margin-top: 3.6vh;
    }
    .margin-bottom1 {
        margin-bottom: 28%;
    }
    .margin-bottom2 {
        margin: 4%;
    }
    .LineHeight {
        line-height: 20px;
    }
    .margin-15{
        margin:15px !important;
        width:auto !important;
    }
   
    .dot {
        height: 8px;
        width: 8px;
        background-color: $accent-success;
        border-radius: 50%;
        display: inline-block;
    }
    .cashbackButton {
        padding: 11% 0% 1% 0%;
        margin-bottom: 8px;
        border-radius: 3px;
    }
    .card-content-ios {
        padding: 0px;
        ;
    }
    .smallFont{
        font-size: 6vw;
    }
    .bold-text-24px {
        font-size: $font_24px;
        font-weight: bold;
    }
    .margin-15{
        margin:15px !important;
        width:auto !important;
    }
}