page-model-register-user-with-consent-accept {

    .mb-40{
        margin-bottom: 30px;
    }

    .title{
        margin-bottom: 20px;
    }

    .close-icon{
        font-size: 28px;
         color: gray;
    }
}

