page-multiple-loan{
.flex-div{
    display: flex;
}
.margin-10{
    margin: auto 1vh
}
.margin-20{
    margin: 2.5vh
}
.loan-card {
    border-radius: 5px;
    margin:3vh auto
}
.loan-card-content {
    padding: 5px 16px;
    line-height: 1;
}
.margin-40-20{
    margin:5.5vh 2.5vh
}
.margin-auto{
    margin: auto;
}

}