<ion-header no-border>
    <ion-navbar transparent hideBackButton>
        <scb-header [in]="headerInputs"></scb-header>
    </ion-navbar>
</ion-header>

<ion-content padding class="back">
    <!-- <button ion-button solid (click)="call()">call</button> -->


    <!-- <button round ion-button outline small outline (click)="getCustomerData()" >get</button>
    <button round ion-button  small full (click)="changeEmail()">post</button>
    <button round ion-button>ประถม</button>
    <button round ion-button>ประถม</button>
    <button round ion-button outline small outline>ประถม</button>
    <button round ion-button disabled small full color="secondary-light">ประถม</button>

    <ion-item>
        <ion-label>label</ion-label>
        <ion-checkbox checked="isChecked"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>radio</ion-label>
        <ion-radio mode="md"></ion-radio>
    </ion-item>

    <div>
        <h1 class="h1" ion-text color="secondary-dark">H1: The quick brown fox jumps over the lazy dog</h1>

        <h2 class="h2" ion-text color="primary">H2: The quick brown fox jumps over the lazy dog</h2>

        <h3 class="h3" ion-text color="light">H3: The quick brown fox jumps over the lazy dog</h3>

        <h4 class="h4" ion-text color="danger">H4: The quick brown fox jumps over the lazy dog</h4> -->

    <!-- <h5 class="h5" ion-text color="dark">H5: The quick brown fox jumps over the lazy dog</h5> -->

    <!-- <h6 ion-text [color]="dynamicColor">H6: The quick brown fox jumps over the lazy dog</h6> -->
    <!-- 
        <p>
            I saw a werewolf with a Chinese menu in his hand. Walking through the
            <sub ion-text color="danger">streets</sub> of Soho in the rain. He
            <i ion-text color="primary">was</i> looking for a place called Lee Ho Fook's. Gonna get a
            <a ion-text color="accent">big dish of beef chow mein.</a>
        </p>

        <p>
            He's the hairy-handed gent who ran amuck in Kent. Lately he's
            <sup ion-text color="primary">been</sup> overheard in Mayfair. Better stay away from him. He'll rip your lungs out, Jim. I'd like to meet his tailor.
        </p>
    </div>


    <ion-item class="date-picker" no-lines>
        <ion-label stacked>Choose Date
            <ion-icon name="scbl-calendar" svgversion></ion-icon>
        </ion-label>
        <ion-datetime placeholder="90/90/90"></ion-datetime>
    </ion-item>

    <ion-item class="select-item" no-lines>
        <ion-label stacked>choose this</ion-label>
        <ion-select placeholder="values is " interface="popover">
            <ion-option value="">ok</ion-option>
            <ion-option value="">olk</ion-option>
        </ion-select>
    </ion-item>
    <div text-center>
        <button class="add-button" ion-button round outline>
            <ion-icon class="add-icon" name="add-circle"></ion-icon>
            Add Policy
        </button>
    </div>

    <ion-icon name="scbl-hospital" svgversion></ion-icon>
    <ion-icon name="scbl-calendar" svgversion></ion-icon>
    <ion-icon name="scbl-camera" svgversion></ion-icon>
    <ion-icon name="scbl-accident" svgversion></ion-icon>
    <ion-icon name="scbl-cancer" svgversion></ion-icon>
    <ion-icon name="scbl-challenge" svgversion></ion-icon>
    <ion-icon name="scbl-change-payment" svgversion></ion-icon>
    <ion-icon name="scbl-debt" svgversion></ion-icon>
    <ion-icon name="scbl-document" svgversion></ion-icon>
    <ion-icon name="scbl-download" svgversion></ion-icon>
    <ion-icon name="scbl-fitsense" svgversion></ion-icon>
    <ion-icon name="scbl-folder" svgversion></ion-icon>
    <ion-icon name="scbl-hospital" svgversion></ion-icon>
    <ion-icon name="scbl-illness" svgversion></ion-icon>
    <ion-icon name="scbl-insurance-card" svgversion></ion-icon>
    <ion-icon name="scbl-ipd" svgversion></ion-icon>
    <ion-icon name="scbl-life-coverage" svgversion></ion-icon>
    <ion-icon name="scbl-loan" svgversion></ion-icon>
    <ion-icon name="scbl-pay-time" svgversion></ion-icon>
    <ion-icon name="scbl-payment-method" svgversion></ion-icon>
    <ion-icon name="scbl-policy-dashboard" svgversion></ion-icon>
    <ion-icon name="scbl-policy-details" svgversion></ion-icon>
    <ion-icon name="scbl-policy-i-have" svgversion></ion-icon>
    <ion-icon name="scbl-reward" svgversion></ion-icon>
    <ion-icon name="scbl-share" svgversion></ion-icon>
    <ion-icon name="scbl-silver-state" svgversion></ion-icon>
    <ion-icon name="scbl-story" svgversion></ion-icon>
    <ion-icon name="scbl-trash" svgversion></ion-icon>

    <button ion-button (click)="alertCall()">alert</button>
    <button ion-button (click)="genericMessage()">Generic Message</button>
    <ion-card> -->
    <!-- <ion-card-header>
            
        </ion-card-header> -->
        <!-- <ion-card-content> -->
            <!-- <generic-message-component [In]=inputData></generic-message-component> -->
        <!-- </ion-card-content>
    </ion-card> -->
    <!-- <div class="rounded-card-div margin-15" *ngFor="let claimStatus of claimDataObject[0].ClaimItems">
        <div class="claimHeader">
            <div class="col-sm-12">
                <span class="bold-text-24px">{{"claims.policyInformation" | translate}}</span>:
                <span class="bold-text-24px"> {{claimStatus.claimType}}</span>
            </div>
            <div class="col-sm-12">
                <span class="bold-text-24px">{{"claims.status" | translate}} </span>: -->
                <!-- <span ion-text color="accent" class="bold-text-24px">{{inputFromPage.b}}</span> -->
                <!-- <span ion-text color="accent-success" class="bold-text-24px">{{claimStatus.status}}</span>
            </div>
            <div class="col-sm-12">
                <span class="bold-text-24px">{{"claims.applicationDate" | translate}} </span>:
                <span class="bold-text-24px"> {{claimStatus.issueDate}}</span>
            </div>
        </div>
        <div class="middle-line"></div>
        <div class="claimBody">
            <ion-grid>
                <ion-row class="">
                    <ion-col col-5>
                        <div class="bold-text-20px">{{"claims.applicationDate" | translate}}:</div>
                        <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claimStatus.issueDate}}</span>
                    </ion-col>
                    <ion-col col-7>
                        <div class="bold-text-20px">{{"claims.incidentDate" | translate}}:</div>
                        <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claimStatus.accidentDate}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <div class="bold-text-20px">{{"claims.paymentChannel" | translate}}:</div>
                        <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claimStatus.paymentChannel}}</span>
                    </ion-col>
                    <ion-col col-7>
                        <div class="bold-text-20px">{{"claims.approvalAmount" | translate}}:</div>
                        <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claimStatus.approvalAmount}} {{"claims.Baht" | translate}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div> -->


    <!-- claim history div -->
    <!-- <div class="rounded-card-div margin-15" *ngFor="let claim of claimDataObject[0].ClaimHistories">
        <div class="claimHeader">
            <div class="col-sm-12">
                <span class="bold-text-24px">123</span>:
                <span class="bold-text-24px"> {{claim.claimType}}</span>
            </div>
            <div class="col-sm-12">
                <span class="bold-text-24px">456 </span>:
                <span ion-text color="accent" class="bold-text-24px">{{claim.status}}</span> -->
                <!-- <span ion-text color="accent-success" class="bold-text-24px">{{inputFromPage.b}}</span> -->
            <!-- </div>
            <div class="col-sm-12">
                <span class="bold-text-24px">{{"claims.applicationDate" | translate}} </span>:
                <span class="bold-text-24px"> {{claim.issueDate}}</span>
            </div>
        </div>
     -->
    
        <!-- claim history div -->
            <!-- <div class="rounded-card-div margin-15" *ngFor="let claim of claimDataObject[0].ClaimHistories">
                    <div class="claimHeader">
                        <div class="col-sm-12">
                            <span class="bold-text-24px">123</span>:
                            <span class="bold-text-24px"> {{claim.claimType}}</span>
                        </div>
                        <div class="col-sm-12">
                            <span class="bold-text-24px">456 </span>:
                            <span ion-text color="accent" class="bold-text-24px">{{claim.status}}</span> -->
                            <!-- <span ion-text color="accent-success" class="bold-text-24px">{{inputFromPage.b}}</span> -->
                        <!-- </div>
                        <div class="col-sm-12">
                            <span class="bold-text-24px">{{"claims.applicationDate" | translate}} </span>:
                            <span class="bold-text-24px"> {{claim.issueDate}}</span>
                        </div>
                    </div>
                    <div class="middle-line"></div>
                    <div class="claimBody">
                        <ion-grid>
                            <ion-row class="">
                                <ion-col col-5>
                                    <div class="bold-text-20px">{{"claims.applicationDate" | translate}}:</div>
                                    <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claim.approvalDate}}</span>
                                </ion-col>
                                <ion-col col-7>
                                    <div class="bold-text-20px">{{"claims.incidentDate" | translate}}:</div>
                                    <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claim.accidentDate}}</span>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-5>
                                    <div class="bold-text-20px">{{"claims.approvalAmount" | translate}}:</div>
                                    <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claim.approvalAmount}} {{"claims.Baht" | translate}}</span>
                                </ion-col>
                                <ion-col col-7>
                                    <div class="bold-text-20px">{{"claims.paymentChannel" | translate}}:</div>
                                    <span ion-text color="primary" class="bold-text-24px margin-bottom-10 line-height-08">{{claim.paymentChannel}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
     -->


    <button ion-button (click)="present()">true</button>
    <ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
            <ion-wizard-step>
                    <input type="checkbox" id="" />
                    <label for=""><img style="    padding: 17%;" src="https://cdn.iconscout.com/icon/free/png-256/hand-finger-pointing-up-sky-thumb-handsup-2-12574.png" /></label>
            </ion-wizard-step>
            <ion-wizard-step>
                   
               <div class="pos">
                      <div class="imgpos">
                      <img src="https://png.icons8.com/office/1600/big-drop.png" />
                      </div>
                   
                    <div >
 
                            <ion-slides #fnaDobDays centeredSlides="true" slidesPerView="5"  spaceBetween="10vw" parallax="true" speed="300" (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideChanged()">
                              <ion-slide *ngFor="let day of day;let i = index" no-padding>                                                      
                                <button class="date-item" ion-button round color="light" (click)="dateSelected('Day',i)">{{day}}</button>
                              </ion-slide>
                            </ion-slides>
                            <ion-slides #fnaDobMonths centeredSlides="true" slidesPerView="4"  spaceBetween="10vw" parallax="true" speed="500" (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideChanged()">
                              <ion-slide *ngFor="let month of month;let i = index" no-padding>
                                <button class="date-item" ion-button round color="light" (click)="dateSelected('Month',i)">{{month}}</button>
                              </ion-slide>
                            </ion-slides>
                            <ion-slides #fnaDobYears centeredSlides="true" slidesPerView="4"  spaceBetween="10vw" parallax="true" speed="100" (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideChanged()">
                              <ion-slide *ngFor="let year of year;let i = index" no-padding>
                                <button ion-button round (click)="dateSelected('Year',i)" [ngClass]="{'date-item-selected' : selectedYear == i, 'date-item' : selectedYear !=i}">{{year}}</button>
                              </ion-slide>
                            </ion-slides>
                       
                          </div>
                </div>
            </ion-wizard-step>
           
            <ion-wizard-step>
              Step 3 content
            </ion-wizard-step>
            <ion-wizard-step>
                    <h2>Radial Menu Experiment</h2>
                    <div class="radial">
                        <input type="checkbox" id="menu" >
                            <a  > <h4>HOME </h4><input type="checkbox" id="myCheckbox1" />
                            <label for="myCheckbox1"><img style="    padding: 17%;" src="https://cdn.iconscout.com/icon/free/png-256/hand-finger-pointing-up-sky-thumb-handsup-2-12574.png" /></label></a>
                            <a  > <h4>ABOUT </h4> <input type="checkbox" id="myCheckbox2" />
                                <label for="myCheckbox2"><img style="    padding: 17%;" src="https://cdn.iconscout.com/icon/free/png-256/hand-finger-pointing-up-sky-thumb-handsup-2-12574.png" /></label></a>
                            <a  > <h4>PROFILE </h4> <input type="checkbox" id="myCheckbox3" />
                                <label for="myCheckbox3"><img style="    padding: 17%;" src="https://cdn.iconscout.com/icon/free/png-256/hand-finger-pointing-up-sky-thumb-handsup-2-12574.png" /></label></a>
                            <a  > <h4>MENU </h4> <input type="checkbox" id="myCheckbox4" />
                                <label for="myCheckbox4"><img style="    padding: 17%;" src="https://cdn.iconscout.com/icon/free/png-256/hand-finger-pointing-up-sky-thumb-handsup-2-12574.png" /></label></a>
                           
                                        
                        <label for="menu" ><a  ><img src="assets/images/big_round.png"></a></label>
                    </div>
             
                  </ion-wizard-step>
        </ion-simple-wizard>


   
</ion-content>


<!-- <div class="you">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni quisquam sapiente deserunt expedita, eveniet dolore eius id! Est fuga delectus consequatur veniam doloribus vitae dicta in similique quaerat error.
</div> -->


        <!-- <generic-view *ngIf="showGenericView" [In]=genericDialog></generic-view> -->
        <!-- <promotions></promotions> -->
<!--
    <ion-icon class="dialog-icon" name="no-internet" ></ion-icon>
    <div>
        <ion-label ion-text color="accent-danger" class="title">ไม่มีอินเทอร์เน็ต</ion-label>
        <ion-label  class="message">โปรดตรวจสอบการเชื่อมต่อเครือข่ายของคุณ</ion-label>
        <button ion-button class="buttons" >
            ลองอีกครั้ง
        </button>
    </div>-->
