page-menu {
  .primary-color-icon {
    color: $primary !important;
  }
  .margin-bottom-3-5vh {
    margin-bottom: 3.5vh;
  }
  .menu-icon-size {
    font-size: 4vh !important;
  }

  .logout-btn {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 30px;
  }

  .mt-30 {
    margin-top: 30px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .profile-menu {
    margin-bottom: 12px !important;
  }

  .user-details {
    position: absolute;
    bottom: 25px;
  }

  .link {
    font-size: 20px !important;
    text-decoration: none;
    font-weight: bold;
    color: $primary;
  }
}
